.button-store{
  display:inline-block;
  box-sizing: border-box;
  border:none;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin-right: 0;
  text-align: center;
  background-color: #252c41;
  color:#fff;
  font-family: Arial, 'Roboto', sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition: all 300ms linear;
}

.button-store:hover,
.button-store:focus{
  background-color: #fff;
  color:#E24647;
}

.button-store:active{
  transform: scale(0.9);
}

.button-store.-second:hover,
.button-store.-second:focus{
  background-color: #fff;
  color:#E24647;
}

.button-store:hover{
  cursor: pointer;
}

.button-store.-second{
  background-color:transparent;
  border: 2px solid #fff;
  width: 218px;
  line-height: 56px;
}

.button-store-second a{
  padding-right: 0;
  
}

.button-store-second, .action-buy{
  text-decoration: none;
  color: inherit;
}

@media (max-width:680px) {
  .button-store, .button-store.-second{
    width:100%;
  }
  
}