.heart-image{
  width:33px;
  height:29px;
  float:left;
  position: relative;
  top:-55px;
  right:80px;
  cursor:pointer;
  color: #000;
  transition: all .2s;
}

.heart-image:hover{
  transform:rotate(-15deg) scale(1.3);
  
}

