.stars{
  display: inline-block;
  position: relative;
  right:40px;
  float:left;
}

.star{
  color: #000;
  font-size: 2rem;
  padding: 0 2px; 
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  transition: all .25s;
  margin-bottom: 25px;
}

.star::before{
  content: '\f006';
  cursor: pointer;
  
}
.star:hover::before{
  transform: rotate(-15deg) scale(1.3);
  color: #000;
}
.star.rated::before{
  content: '\f005';
}

.star.rated:hover{
  transform: rotate(-15deg) scale(1.3);
}

@media (max-width:1320px){
  .stars{
    margin-right:10px;
}
}

@media (max-width:680px){
  .stars{
    padding-left:30px;
  }
}

@media(max-width:340px){
  .stars{
    width:100%;
  }
}